name: Build and push images to GCR

on:
  workflow_call:
    secrets:
      GCR_PASSWORD:
        description: "Password for Github Container Registry"
        required: true
    inputs:
      dockerImageBaseName:
        description: "Base image name for docker images"
        required: true
        type: string
      version:
        description: "Version to tag"
        required: true
        type: string

jobs:
  publish-docker-images:
    env:
      DOCKER_IMAGE_BASE_NAME: ${{ inputs.dockerImageBaseName }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - dockerfile: ./src/Digdir.Domain.Dialogporten.WebApi/Dockerfile
            imageName: webapi
          - dockerfile: ./src/Digdir.Domain.Dialogporten.GraphQL/Dockerfile
            imageName: graphql
          - dockerfile: ./src/Digdir.Domain.Dialogporten.Service/Dockerfile
            imageName: service
          - dockerfile: ./src/Digdir.Domain.Dialogporten.Infrastructure/MigrationBundle.dockerfile
            imageName: migration-bundle
          - dockerfile: ./src/Digdir.Domain.Dialogporten.Janitor/Dockerfile
            imageName: janitor

    permissions:
      contents: read
      packages: write

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GCR_PASSWORD }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ env.DOCKER_IMAGE_BASE_NAME }}${{ matrix.imageName }}
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Build and push docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE_BASE_NAME }}${{ matrix.imageName }}:${{ inputs.version }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.imageName }}
          cache-to: type=gha,mode=max,scope=${{ matrix.imageName }}
