name: Deploy apps
on:
  workflow_call:
    outputs:
      deployment_executed:
        description: "Indicates if the deployment was actually executed"
        value: ${{ jobs.deploy-apps.result == 'success' && (jobs.deploy-jobs.result == 'success' || jobs.deploy-jobs.result == 'skipped') && !inputs.dryRun }}
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      AZURE_RESOURCE_GROUP_NAME:
        required: true
      AZURE_ENVIRONMENT_KEY_VAULT_NAME:
        required: true
      AZURE_CONTAINER_APP_ENVIRONMENT_NAME:
        required: true
      AZURE_APP_INSIGHTS_CONNECTION_STRING:
        required: true
      AZURE_APP_CONFIGURATION_NAME:
        required: true
      AZURE_SERVICE_BUS_NAMESPACE_NAME:
        required: true

    inputs:
      environment:
        required: true
        type: string
      dryRun:
        description: "If true, the deployment will be validated but not executed."
        required: false
        type: boolean
        default: false
      version:
        description: "Current version to use as tag"
        required: true
        type: string
      runMigration:
        description: "If true, the migration job will be run."
        required: false
        type: boolean
        default: false
      ref:
        description: "The branch or tag ref to deploy. Using default checkout ref if not provided."
        required: false
        default: ${{ github.ref }}
        type: string

concurrency:
  # Existing runs are cancelled if someone repeatedly commits to their own Pull Request (PR). However, it does not stop others' dry runs or actual deployments from the main branch.
  # Also, the cancellation does not occur on merges to the main branch. Therefore, if multiple merges to main are performed simultaneously, they will just be queued up.
  group: deploy-apps-${{ inputs.environment }}-${{ github.ref_name }}-${{ inputs.dryRun }}
  # if the dryrun input is true, we want to cancel any running deployments in order to not block the pipeline e.g for environment approvals
  cancel-in-progress: ${{ inputs.dryRun }}
jobs:
  deploy-migration-job:
    name: Deploy migration job to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    if: ${{ inputs.runMigration }}
    environment: ${{inputs.environment}}
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: "Checkout GitHub Action"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Dryrun Deploy migration job (${{ inputs.environment }})
        uses: azure/bicep-deploy@4d5dc29bf04d05546dd5df9c665c54b9c5213207 # v2.2.0
        if: ${{ inputs.dryRun }}
        id: deploy-dry-run
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          AZURE_CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          AZURE_ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
        with:
          scope: resourceGroup
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          type: deployment
          operation: whatIf
          name: "web-api-migration-job-${{ inputs.version }}"
          template-file: ./.azure/applications/web-api-migration-job/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          parameters-file: ./.azure/applications/web-api-migration-job/${{ inputs.environment }}.bicepparam

      - name: Deploy migration job (${{ inputs.environment }})
        uses: azure/bicep-deploy@4d5dc29bf04d05546dd5df9c665c54b9c5213207 # v2.2.0
        if: ${{!inputs.dryRun}}
        id: deploy
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          AZURE_CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          AZURE_ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
        with:
          scope: resourceGroup
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          type: deployment
          operation: create
          name: "web-api-migration-job-${{ inputs.version }}"
          template-file: ./.azure/applications/web-api-migration-job/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          parameters-file: ./.azure/applications/web-api-migration-job/${{ inputs.environment }}.bicepparam

      - name: Start migration job
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        if: ${{!inputs.dryRun}}
        with:
          inlineScript: |
            az containerapp job start -n ${{ steps.deploy.outputs.name }} -g ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}

      - name: Verify migration
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        if: ${{!inputs.dryRun}}
        id: verify-migration
        timeout-minutes: 1440
        with:
          inlineScript: |
            ./.github/tools/containerAppJobVerifier.sh ${{ steps.deploy.outputs.name }} ${{ secrets.AZURE_RESOURCE_GROUP_NAME }} ${{ inputs.version }}

      - name: Logout from azure
        if: ${{failure() || success()}}
        continue-on-error: true
        run: az logout

  deploy-apps:
    name: Deploy ${{ matrix.name }} to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    # Should run even though the migration job was skipped
    if: ${{ always() && !failure() && !cancelled() }}
    needs: deploy-migration-job
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: web-api-eu
          - name: web-api-so
          - name: graphql
          - name: service
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    env:
      REVISION_SUFFIX: "${{ github.run_id }}-${{ inputs.version }}-${{ github.run_attempt}}"
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Dryrun Deploy app ${{ matrix.name }}(${{ inputs.environment }})
        uses: azure/bicep-deploy@4d5dc29bf04d05546dd5df9c665c54b9c5213207 # v2.2.0
        if: ${{ inputs.dryRun }}
        id: deploy-dry-run
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          REVISION_SUFFIX: ${{ env.REVISION_SUFFIX }}
          # secrets
          AZURE_CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          AZURE_APP_INSIGHTS_CONNECTION_STRING: ${{ secrets.AZURE_APP_INSIGHTS_CONNECTION_STRING }}
          AZURE_APP_CONFIGURATION_NAME: ${{ secrets.AZURE_APP_CONFIGURATION_NAME }}
          AZURE_ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          AZURE_SERVICE_BUS_NAMESPACE_NAME: ${{ secrets.AZURE_SERVICE_BUS_NAMESPACE_NAME }}
        with:
          scope: resourceGroup
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          type: deployment
          operation: whatIf
          name: "${{ matrix.name }}-${{ inputs.version }}"
          template-file: ./.azure/applications/${{ matrix.name }}/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          parameters-file: ./.azure/applications/${{ matrix.name }}/${{ inputs.environment }}.bicepparam

      - name: Deploy app ${{ matrix.name }}(${{ inputs.environment }})
        uses: azure/bicep-deploy@4d5dc29bf04d05546dd5df9c665c54b9c5213207 # v2.2.0
        if: ${{!inputs.dryRun}}
        id: deploy
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          REVISION_SUFFIX: ${{ env.REVISION_SUFFIX }}
          # secrets
          AZURE_CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          AZURE_APP_INSIGHTS_CONNECTION_STRING: ${{ secrets.AZURE_APP_INSIGHTS_CONNECTION_STRING }}
          AZURE_APP_CONFIGURATION_NAME: ${{ secrets.AZURE_APP_CONFIGURATION_NAME }}
          AZURE_ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          AZURE_SERVICE_BUS_NAMESPACE_NAME: ${{ secrets.AZURE_SERVICE_BUS_NAMESPACE_NAME }}
        with:
          scope: resourceGroup
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          type: deployment
          operation: create
          name: "${{ matrix.name }}-${{ inputs.version }}"
          template-file: ./.azure/applications/${{ matrix.name }}/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          parameters-file: ./.azure/applications/${{ matrix.name }}/${{ inputs.environment }}.bicepparam

      - name: Verify deployment (${{ matrix.name }})
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2.2.0
        if: ${{!inputs.dryRun}}
        id: verify-deployment
        timeout-minutes: 10
        with:
          inlineScript: |
            ./.github/tools/revisionVerifier.sh ${{ steps.deploy.outputs.revisionName }} ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}

      - name: Logout from azure
        if: ${{failure() || success()}}
        continue-on-error: true
        run: az logout

  deploy-jobs:
    name: Deploy job ${{ matrix.name }} to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    # Should run even though the migration job was skipped
    if: ${{ always() && !failure() && !cancelled() }}
    needs: deploy-apps
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: sync-subject-resource-mappings-job
          - name: sync-resource-policy-information-job
          - name: reindex-dialogsearch-job
          - name: aggregate-cost-metrics-job
            environments: ['staging', 'prod']
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: "Checkout GitHub Action"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Dryrun Deploy job ${{ matrix.name }}(${{ inputs.environment }})
        uses: azure/bicep-deploy@4d5dc29bf04d05546dd5df9c665c54b9c5213207 # v2.2.0
        if: ${{ inputs.dryRun && (!matrix.environments[0] || contains(matrix.environments, inputs.environment)) }}
        id: deploy-dry-run
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          AZURE_CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          AZURE_ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          AZURE_APP_INSIGHTS_CONNECTION_STRING: ${{ secrets.AZURE_APP_INSIGHTS_CONNECTION_STRING }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        with:
          scope: resourceGroup
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          type: deployment
          operation: whatIf
          name: "${{ matrix.name }}-${{ inputs.version }}"
          template-file: ./.azure/applications/${{ matrix.name }}/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          parameters-file: ./.azure/applications/${{ matrix.name }}/${{ inputs.environment }}.bicepparam

      - name: Deploy job ${{ matrix.name }}(${{ inputs.environment }})
        uses: azure/bicep-deploy@4d5dc29bf04d05546dd5df9c665c54b9c5213207 # v2.2.0
        if: ${{ !inputs.dryRun && (!matrix.environments[0] || contains(matrix.environments, inputs.environment)) }}
        id: deploy
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          AZURE_CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          AZURE_ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          AZURE_APP_INSIGHTS_CONNECTION_STRING: ${{ secrets.AZURE_APP_INSIGHTS_CONNECTION_STRING }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        with:
          scope: resourceGroup
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          type: deployment
          operation: create
          name: "${{ matrix.name }}-${{ inputs.version }}"
          template-file: ./.azure/applications/${{ matrix.name }}/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          parameters-file: ./.azure/applications/${{ matrix.name }}/${{ inputs.environment }}.bicepparam

      - name: Logout from azure
        if: ${{failure() || success()}}
        continue-on-error: true
        run: az logout
