name: "Publish nuget package"

on:
  workflow_call:
    inputs:
      version:
        description: "Version"
        required: true
        type: string
      path:
        description: "Path to project"
        required: true
        type: string
      source:
        description: "Nuget Source"
        required: true
        type: string
      ref:
        description: "The branch or tag ref to publish. Using default checkout ref if not provided."
        required: false
        default: ${{ github.ref }}
        type: string
    secrets:
      NUGET_API_KEY:
        required: true

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ inputs.ref }}

      - name: Set up .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          global-json-file: ./global.json

      - name: Restore dependencies
        run: dotnet restore

      - name: Pack with debug symbols
        run: dotnet pack --configuration Release -p:Version="${VERSION}" -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg --output . "${PROJECT_PATH}"
        env:
          VERSION: ${{ inputs.version }}
          PROJECT_PATH: ${{ inputs.path }}

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: package
          path: '*.*nupkg'

      - name: Push to NuGet
        run: dotnet nuget push *.nupkg --source "${NUGET_SOURCE}" --api-key "${NUGET_API_KEY}"
        env:
          NUGET_SOURCE: ${{ inputs.source }}
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
