name: Publish Schema to NPM

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      ref:
        description: "The branch or tag ref to publish. Using default checkout ref if not provided."
        required: false
        default: ${{ github.ref }}
        type: string
    secrets:
      NPM_TOKEN:
        required: true
env:
  WORKING_DIRECTORY: docs/schema/V1

jobs:
  check-published-version:
    runs-on: ubuntu-latest
    outputs:
      version-exists: ${{ steps.check-published-version.outputs.version-exists }}
    permissions:
      contents: read
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org/'

      - name: Fetch package name
        id: fetch-package-name
        run: echo "PACKAGE_NAME=$(jq -r '.name' package.json)" >> $GITHUB_ENV
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Check if version exists on NPM
        id: check-published-version
        run: |
          if npm view "${PACKAGE_NAME}@${VERSION}" > /dev/null 2>&1; then
            echo "version-exists=true" >> $GITHUB_OUTPUT
            echo "Version ${VERSION} already exists"
          else
            echo "version-exists=false" >> $GITHUB_OUTPUT
            echo "Version ${VERSION} does not exist"
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          PACKAGE_NAME: ${{ env.PACKAGE_NAME }}
          VERSION: ${{ inputs.version }}

  publish-schema-to-npm:
    runs-on: ubuntu-latest
    needs: check-published-version
    if: needs.check-published-version.outputs.version-exists == 'false'
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}

      - name: Build and test schema
        uses: ./.github/actions/build-schema
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Update package version
        run: |
          jq --arg version "$VERSION" '.version = $version' package.json > temp.json
          mv temp.json package.json
        env:
          VERSION: ${{ inputs.version }}
        working-directory: ${{ env.WORKING_DIRECTORY }}

      - name: Publish package
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
