name: Delete temporary GitHub deployments

on:
  workflow_call:
    inputs:
      gitSha:
        required: true
        type: string

permissions:
  contents: read
  deployments: write

jobs:
  delete_github_deployments:
    name: Delete GitHub deployments
    runs-on: ubuntu-latest
    steps:
    - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Delete Previous deployments
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      env:
        GITHUB_SHA_HEAD: ${{ github.event.pull_request.head.sha }}
      with:
        script: |
          const { GITHUB_SHA_HEAD } = process.env
          const deployments = await github.rest.repos.listDeployments({
            owner: context.repo.owner,
            repo: context.repo.repo,
            sha: GITHUB_SHA_HEAD
          });
          await Promise.all(
            deployments.data.map(async (deployment) => {
              await github.rest.repos.createDeploymentStatus({ 
                owner: context.repo.owner, 
                repo: context.repo.repo, 
                deployment_id: deployment.id, 
                state: 'inactive' 
              });
              return github.rest.repos.deleteDeployment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                deployment_id: deployment.id
              });
            })
          );
